body  {
  background: #fcbb31
  
}
  

.formatoletra {
 
  color:#2203a8;
    font-style:Italic;
  font-family: "Trebuchet MS";
    font-size: 25px;
}
 p {
  border-style: dotted;
  border-width: 4px;
   border-color: blue;
  
   }
.alinear
{
align-text: center
  ;
    }